@font-face {
	font-family: Barrio;
	font-weight: 400;
	src: local("Barrio"),
		url("../assets/fonts/Barrio/Barrio-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Montserrat;
	font-weight: 400;
	src: local("Montserrat"),
		url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
